# environment
APP_ENV=local
HTTP_PORT=:8080

# PostgreSQL config
DB_HOST=localhost
DB_PORT=5432
DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name
DB_SSLMODE=disable

# Redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

JWT_SECRET=secret
JWT_ACCESS_TTL=1h
JWT_REFRESH_TTL=720h


# I used twillo for testing. There are free test configs, but they don't do callbacks. SMS will only show up in the logs.
# That's why I use IsDev. So I can test locally and it won't show up in the logs on production.
SMS_ACCOUNT_SID=
SMS_AUTH_TOKEN=
SMS_FROM_PHONE=
SMS_API_URL=
